<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="riskanalyzer"
        name="Risk Analyzer"
        version="1.0"
        provider-name="ACME"
        class="com.acme.riskanalyzer.RiskAnalyzer">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="riskanalyzer.jar"/>
    </runtime>
</plugin>